{% extends "CodeTutor/layout.html" %}
{% load static %}

<!-- Since Students view their list of Tutors, 'back' button brings them to list of Tutors -->
{% block nav %}
  <li class="nav-item">
    <a class="btn btn-primary me-2" href="{% url 'student_list' %}" role="button">Back</a>
  </li>
{% endblock %}

{% block body %}

    <div class="container" id="my_students" style="background: white; padding-top: 20px;" >
        <div class="row mb-3" style="padding-left: 59px" style = "display: flex; flex-direction: row;">
            <p class="fs-2 fw-semibold">My Students</p>
            {% for student in students %}
            <div class="card m-2" style="width: 24rem;">
              <img src="{{ student.profile_picture.url }}"
                   class="card-img-top" alt='https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg'
                   height="400px"
                   width="400px">
              <div class="card-body">
                <h5 class="card-title">{{ student.username }}</h5>
                <div class="row mb-3">
                  <p>Email: {{student.email}}</p>
              </div>
              <div class="row mb-3">
                  <p>Phone Number: {{student.mobile_number}}</p>
              </div>
              
              </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}