{% extends "CodeTutor/layout.html" %}
{% load static %}

{% block script %}
{% endblock %}


<!-- Since Students view their list of Tutors, 'back' button brings them to list of Tutors -->
{% block nav %}
  <li class="nav-item">
    <a class="btn btn-primary me-2" href="{% url 'tutor_list' %}" role="button">Back</a>
  </li>
{% endblock %}

{% block body %}
    <div class="container" id="my_tutors" style="background: white; padding-top: 20px;">
        <div class="row mb-3" style="padding-left: 59px">
            <p class="fs-2 fw-semibold">My Tutors</p>
            <p class="text-break" style="color: red">Note: You may evaluate your Tutors to improve the quality of our service!</p>
            {% for tutor in tutors %}
                <div class="card m-2" style="width: 24rem;">
                  <img src="{{ tutor.profile_picture.url }}"
                       class="card-img-top" alt='https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg'
                       height="400px"
                       width="400px">
                  <div class="card-body">
                    <h5 class="card-title">{{ tutor.username }}</h5>
                    <div class="row mb-3">
                      <p>Email: {{tutor.email}}</p>
                  </div>
                  <div class="row mb-3">
                      <p>Phone Number: {{tutor.mobile_number}}</p>
                  </div>
                    <div class="row mb-3">
                        <a href="{% url "evaluate" tutor_username=tutor.username %}" class="btn btn-info mb-1">Evaluate Tutor</a>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}