{% extends "CodeTutor/layout.html" %}
{% load static %}

{% block script %}
    <!-- Javascript logic for client side login and registration features -->
    <!-- Uses entry.js -->
    <script src="{% static "CodeTutor/javascript/profile.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block body %}
<div class="container"style="background: white">
    <h1>About me</h1>
<div  class="container" id="student_list" >
    
</div>
<div style="display:flex; flex-direction: row; justify-content: center;">
<!-- Logic to toggle whether to continue actively finding tutor -->
<form action="change_active_state" method="post">
{% csrf_token %}
<button type="submit" class="btn btn-outline-primary fw-bolder fs-7 px-4 py-2 mt-3 rounded-pill"> Change Active State </button>
</form>
<button id="showButton" class="btn btn-outline-primary fw-bolder fs-7 px-4 py-2 mt-3 rounded-pill" >View Location</button>  
</div>
<div id="map" style="height: 500px; width: 100%; display:none;"></div>

</div>
{% endblock%}