{% extends "CodeTutor/layout.html" %}
{% load static %}

{% block script %}
{% endblock %}


<!-- Since tutors receive hiring requests, "back" must bring them to list of students -->
{% block nav %}
  <li class="nav-item">
    <a class="btn btn-primary me-2" href="{% url 'student_list' %}" role="button">Back</a>
  </li>
{% endblock %}

{% block body %}
    <div class="container" id="received_requests" style="background: white; padding-top: 20px;">
        <div class="row mb-3" style="padding-left: 59px">
            {% for request in requests %}
                <div class="card m-2" style="width: 24rem;">
                  <img src="{{ request.tutor.profile_picture.url }}" 
                       class="card-img-top" alt='https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg'
                       height="400px"
                       width="400px">
                  <div class="card-body">
                    <h5 class="card-title">{{ request.tutor.username }}</h5>
                    <p class="card-text">Subject Offered: {{ request.subject.subject_name }}</p>
                    <p class="card-text">Offered Rate: ${{ request.tutor_rates }}/hr</p>
                    <p class="card-text">Date Received: {{ request.application_date }}</p>
                    <p class="card-text">Description: {{ request.application_description }}</p>
                      <div class="row mb-3">
                          <a href="{% url "accept" type_of_application="application" application_id=request.id %}" class="btn btn-success mb-1">Accept</a>
                          <a href="{% url "reject" type_of_application='application' application_id=request.id %}" class="btn btn-danger mb-1">Reject</a>
                      </div>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}