{% extends "CodeTutor/layout.html" %}

{% block body %}
    <div class="container" style="background: white">
        <div class="row">
            <div class="col-2">
                <!-- To centralise -->
            </div>
            <h3>Register as a Student</h3>
        </div>
        <form action="{% url 'register' "student" %}" method="post">
            {% csrf_token %}
            {% for field in student_registration_form.visible_fields %}
                <div class="row mb-3">
                    <div class="col-4">
                        <!-- To centralise -->
                    </div>
                    <div class="col-4">
                        <div class="fieldWrapper">
                            <div class="row mb-3">
                                {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row mb-3">
                                {{ field.label_tag }}
                            </div>
                            <div class="row mb-3">
                                {{ field }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row mb-3">
                <div class="col-5">
                    <!-- To centralise -->
                </div>
                <div class="col-4">
                    <input type="submit" name="student">
                </div>
            </div>
        </form>
    </div>
{% endblock %}